@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playball/v21/TK3gWksYAxQ7jbsKcg8Eneo.woff2) format('woff2');
  unicode-range: U+0000-00FF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-green: #6B8E23;
  --secondary-brown: #8B4513;
  --background-cream: #e2c77e;
  --text-color-dark: #213547;
  --text-color-light: #e6e9bf;
  --highlight-color-1: rgb(60, 78, 178);
  --border-radius: 8px;
  --font-main: "Lato", sans-serif;
  --font-secondary: "Playball", cursive;
  --font-size-titles: 2.5rem;
  --font-size-headers: 1.9rem;
  --font-size-body: 1.2rem;
  --font-size-small: 0.9rem;
  --max-width: 1000px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.test-playball {
  font-family: 'Playball', cursive !important;
  font-size: 2rem;

}

ul li {
  margin-bottom: 8px; /* Adjust spacing as needed */
  font-size: var(--font-size-body);
}

.cloud {
  width:355px;
  height: 200px;
  background-image: url('/cloud-1.png');
  position: absolute;
  top: -15%;
  left: -500px; /* Start off-screen */
  animation: moveCloud 50s cubic-bezier(.15,.53,.32,.71) infinite;

  @media (max-width: 800px) {
    transform: scale(0.5);
    left: 50%;
    transform: translateX(-50%) scale(0.5);
  }
}

@keyframes moveCloud {
  from {
    left: -500px;
    opacity: 0.8;
  }
  to {
    left: 100%;
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .castleAndMe {
    transform: scale(0.5);
    display: block; /* Ensures it behaves like an image */
    margin: 0 auto; /* Centers it horizontally */
  }
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* @apply min-h-screen min-w-[320px]; */
  background:
    linear-gradient( #1870d5, #87ceeb) no-repeat;
   
}

h1 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-titles);
  line-height: 1.1;
}

h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-headers);
  line-height: 1.2;

}

h4 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-headers);
  line-height: 1.4;
  color: var(--text-color-dark);


}



p {
  font-family: var(--font-main);
  font-size: var(--font-size-body);
  line-height: 1.6;

}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: 3px solid #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.project-link a {
  color: 	black;
  text-decoration: none;
  font-weight: 500;
  text-shadow:  -1px -1px 0 rgb(23, 180, 228),
                  1px -1px 0 rgb(23, 180, 228),
                  -1px 1px 0 rgb(23, 180, 228),
                  1px 1px 0 rgb(23, 180, 228);
  transition: color 0.3s ease;
}
